<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Permissions nécessaires -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Déclarez le feature caméra comme non nécessaire -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Déclarez les applications que vous pouvez interroger -->
    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionDeClasse"
        tools:targetApi="31" >
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <!-- Activités du projet -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Autres activités non exportées -->
        <activity
            android:name=".CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FormationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.GestionDeClasse" />
        <activity
            android:name=".DetailsCourseActivity"
            android:exported="false"
            android:theme="@style/Theme.GestionDeClasse" />
        <activity
            android:name=".CoursesActivity"
            android:exported="false" />
        <activity
            android:name=".CompetenceActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>